{% extends "layout.njk" %}

{% block moreAccess %}

    <section class="moreAccessCard-classes">

        <div class="card">
            <div class="card-image-container" id="burger">
                <img src="../assets/burger.png" alt="Burger">
            </div>
            <div class="card-name">
                <p id="burger">Triplo Bacon Burger</p>
            </div>
            <div class="author">
                <p id="burger">por Jorge Renato</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="pizza">
                <img src="../assets/pizza.png" alt="Pizza">
            </div>
            <div class="card-name" id="pizza">
                <p>Pizza 4 Estações</p>
            </div>
            <div class="author" id="pizza">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="espaguete">
                <img src="../assets/espaguete.png" alt="Espaguete">
            </div>
            <div class="card-name" id="espaguete">
                <p>Espaguete ao Alho</p>
            </div>
            <div class="author" id="espaguete">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="lasanha">
                <img src="../assets/lasanha.png" alt="Lasanha">
            </div>
            <div class="card-name" id="lasanha">
                <p>Lasanha Mac n`cheese</p>
            </div>
            <div class="author" id="lasanha">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="doce">
                <img src="../assets/doce.png" alt="Doce">
            </div>
            <div class="card-name" id="doce">
                <p>Docinhos Pão-do-Céu</p>
            </div>
            <div class="author" id="doce">
                <p>por Ricardo Golves</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="asinhas">
                <img src="../assets/asinhas.png" alt="Asinhas">
            </div>
            <div class="card-name" id="asinhas">
                <p>Asinhas de Frango ao Barbecue</p>
            </div>
            <div class="author" id="asinhas">
                <p>por Vânia Steroski</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="burger">
                <img src="../assets/burger.png" alt="Burger">
            </div>
            <div class="card-name" id="burger">
                <p>Triplo Bacon Burger</p>
            </div>
            <div class="author" id="burger">
                <p>por Jorge Renato</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="pizza">
                <img src="../assets/pizza.png" alt="Pizza">
            </div>
            <div class="card-name" id="pizza">
                <p>Pizza 4 Estações</p>
            </div>
            <div class="author" id="pizza">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="espaguete">
                <img src="../assets/espaguete.png" alt="Espaguete">
            </div>
            <div class="card-name" id="espaguete">
                <p>Espaguete ao Alho</p>
            </div>
            <div class="author" id="espaguete">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="lasanha">
                <img src="../assets/lasanha.png" alt="Lasanha">
            </div>
            <div class="card-name" id="lasanha">
                <p>Lasanha Mac n`cheese</p>
            </div>
            <div class="author" id="lasanha">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="doce">
                <img src="../assets/doce.png" alt="Doce">
            </div>
            <div class="card-name" id="doce">
                <p>Docinhos Pão-do-Céu</p>
            </div>
            <div class="author" id="doce">
                <p>por Ricardo Golves</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container" id="asinhas">
                <img src="../assets/asinhas.png" alt="Asinhas">
            </div>
            <div class="card-name" id="asinhas">
                <p>Asinhas de Frango ao Barbecue</p>
            </div>
            <div class="author" id="asinhas">
                <p>por Vânia Steroski</p>
            </div>
        </div>
    </section>

    <div class="modal">
        <div class="modal-background">
            <div class="card-image-container">
                <img src="" alt="img">
            </div>
            <div class="card-name">
                <p></p>
            </div>
            <div class="author">
                <p></p>
            </div>
            <div class="close">
                <p>Fechar janela</p>
            </div>
        </div>
    </div>

    <script src="../scripts/scripts.js"></script>

{% endblock moreAccess %}