{% extends "layout.njk" %}

{% block moreAccess %}

    <div class="apresentation">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        <img src="/assets/chef.png" alt="Chef">
    </div>

    <div class="access-text">
        <h4>Mais acessadas</h4>
    </div>

    <section class="moreAccessCard">

        <div class="card">
            <div class="card-image-container">
                <img src="/assets/burger.png" alt="Burger">
            </div>
            <div class="card-name">
                <p>Triplo Bacon Burger</p>
            </div>
            <div class="author">
                <p>por Jorge Renato</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img src="/assets/pizza.png" alt="Pizza">
            </div>
            <div class="card-name">
                <p>Pizza 4 Estações</p>
            </div>
            <div class="author">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img src="/assets/espaguete.png" alt="Espaguete">
            </div>
            <div class="card-name">
                <p>Espaguete ao Alho</p>
            </div>
            <div class="author">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img src="/assets/lasanha.png" alt="Lasanha">
            </div>
            <div class="card-name">
                <p>Lasanha Mac n`cheese</p>
            </div>
            <div class="author">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img src="/assets/doce.png" alt="Doce">
            </div>
            <div class="card-name">
                <p>Docinhos Pão-do-Céu</p>
            </div>
            <div class="author">
                <p>por Ricardo Golves</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image-container">
                <img src="/assets/asinhas.png" alt="Asinhas">
            </div>
            <div class="card-name">
                <p>Asinhas de Frango ao Barbecue</p>
            </div>
            <div class="author">
                <p>por Vânia Steroski</p>
            </div>
        </div>

    </section>

{% endblock moreAccess %}