<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <title>Foodfy</title>
</head>
<body>
    <header>
        <img src="/assets/logo.png" alt="logo">
        <a id="about" href="/about">Sobre</a>
        <a id="recipes" href="/classes">Receitas</a>
    </header>

    {% block moreAccess %}
    {% endblock moreAccess %}

    <div class="rodape">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>

</body>
</html>