{% extends 'layout.njk' %}

{% block moreAccess %}

    <section class="moreAccessCard-classes">

        <div class="card">
            <div class="card-image-container" id="burger">
                <img src="{{ item.src }}" alt="Burger">
            </div>
            <div class="card-name">
                <p id="burger">{{ item.card_name }}</p>
            </div>
            <div class="author">
                <p id="burger">{{ item.author }}</p>
            </div>
        </div>

    </div>

{% endblock moreAccess %}