* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

body header {
    display: flex;
    align-items: center;
    margin-top: 3.3%;
    font-size: 16px;
}

body header img {
    margin: 0 8.7% 0 16.5%;
}

body header a#about {
    margin-right: 2.1%;
    text-decoration: none;
    color: black;
}

body header a#recipes {
    text-decoration: none;
    color: black;
}

body .apresentation {
    background-color: #FBDFDB;
    width: 940px;
    height: 366px;
    margin: 3.3% 16.4%;
    border-radius: 30px;
    position: relative;
}

body .apresentation img {
    margin: 7% 23.6% 0 61%;
}

body .apresentation h1 {
    position: absolute;
    margin: 10.6% 41.1% 19.1% 10.3%;
    font-size: 32px;
    font-weight: bold;
}

body .apresentation p {
    position: absolute;
    margin: 15.9% 40.3% 10.6% 10.3%;
    max-width: 320px;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

body .access-text {
    font-size: 24px;
    margin: 4.5% 71.1% 1.8% 16.4%;
}

body .moreAccessCard {
    max-width: 1020px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

body .moreAccessCard .card .card-image-container img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-top: 2.7%;
}

body .moreAccessCard .card .card-name {
    margin-top: 3.8%;
    font-size: 18px;
    color: black;
    height: 21px;
}

body .moreAccessCard .card .author {
    margin-top: 0.5%;
    font-size: 14px;
    color: #777777;
}

body .rodape {
    background-color: #EEEEEE;
    margin-top: 4.5%;
    text-align: center;
    padding: 1.5% 30%;
}

/*=== CARDS classes.html ===*/

body .moreAccessCard-classes {
    max-width: 1020px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

body .moreAccessCard-classes .card .card-image-container img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-top: 10.7%;
    cursor: pointer;
}

body .moreAccessCard-classes .card .card-name {
    margin-top: 3.8%;
    font-size: 18px;
    color: black;
    height: 21px;
}

body .moreAccessCard-classes .card .author {
    margin-top: 0.5%;
    font-size: 14px;
    color: #777777;
}

/*=== CARDS-MODAL classes.html*/

body .modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

body .modal .modal-background {
    background-color: white;
    margin: 20vh auto;
    width: 37.1%;
    height: 40.8%;
    border-radius: 16px;
    position: relative;
}

body .modal .modal-background .card-image-container img {
    width: 80%;
    height: 60%;
    position: absolute;
    margin: 2.7% 9.6%;
    border-radius: 15px;
}

body .modal .modal-background .card-name p {
    position: absolute;
    top: 70%;
    left: 29.5%;
    font-weight: bold;
}

body .modal .modal-background .author p {
    position: absolute;
    top: 77.5%;
    left: 37.5%;
    font-size: medium;
    color: #777777;
}

body .modal .modal-background .close p {
    position: absolute;
    top: 90.5%;
    left: 40.5%;
    font-size: 12px;
    color: #777777;
    cursor: pointer;
}

/*=== CARDS-MODAL-ACTIVED classes.html*/

body .modal.actived {
    opacity: 1;
    visibility: visible;
}

/*=== about.html ===*/

body .about-foodfy h3{
    margin: 4% 71.9% 1.8% 16.4%
}

body .about-foodfy p {
    margin: 1.8% 16.4%;
}

body .the-beginning h4,
.our-recipes h4{
    margin: 0 71.9% 1.8% 16.4%
}

body .the-beginning p,
.our-recipes p {
    margin: 1.8% 16.4%;
}

